/** @format */
.type-card {
  h1 {
    padding-bottom: rem(24px);
    font-size: 2rem;
    line-height: 120%;
  }
}

.gallery-container {
  position: relative;
  display: flex;
  height: 100%;
  white-space: nowrap;
  margin-block-end: rem(96px);

  .vueperslide {
    opacity: 1;
    transition: 0.2s;
    &:hover {
      opacity: 0.8;
    }
  }

  .vueperslides__arrow {
    height: 48px;
    width: 48px;
    opacity: 1;
    font-size: 1.3rem;
    color: $secondary-clr-dark;

    &.vueperslides__arrow--prev {
      transform: translate(110%, -100%);
      // left: rem(-20px);
    }
    &.vueperslides__arrow--next {
      transform: translate(-110%, -100%);
    }
  }

  a {
    width: 20%;
    padding: 1em;
  }
}

.selling-proposition-wrapper {
  background-color: $primary-clr-light;

  .selling-proposition {
    padding-block-end: rem(96px);
    padding-block-start: rem(96px);
  }

  .selling-container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .selling-video {
    padding: 0 1em;
    img {
      object-fit: contain;
      width: 100%;
    }
  }

  .selling-info {
    padding-inline-end: 11%;
    // flex-basis: 46.66667%;
    // max-width: 70%;

    .flex {
      align-items: center;
    }

    li {
      padding-block-end: 1.5em;
    }

    h2 {
      font-weight: 800;
      font-style: bolder;
      font-size: 2em;
      line-height: 120%;
      padding-block-end: 0.3em;
      color: $secondary-clr-dark;
    }

    span {
      display: block;
      width: 24px;
      height: 24px;
      margin-inline-end: 0.825em;

      > * {
        fill: $secondary-clr-light;
        float: left;
        height: 100%;
        width: 100%;
      }
    }

    p {
      color: $secondary-clr-light;
    }
  }
}

.svg {
  &.svg-graphic {
    .cls-4 {
      fill: none;
      stroke: #4d535b;
      stroke-miterlimit: 10;
      stroke-width: 2px;
    }
  }

  &.svg-writing {
    .cls-5 {
      fill: none;
      stroke: #4d535b;
      stroke-miterlimit: 10;
      stroke-width: 2px;
    }
  }

  &.svg-sound {
    .cls-4 {
      fill: none;
      stroke: #4d535b;
      stroke-miterlimit: 10;
      stroke-width: 2px;
    }
  }

  &.svg-tech {
    .cls-4 {
      fill: none;
      stroke: #4d535b;
      stroke-miterlimit: 10;
      stroke-width: 2px;
    }
  }

  &.svg-lifestyle {
    .cls-4 {
      fill: none;
      stroke: #4d535b;
      stroke-miterlimit: 10;
    }

    .cls-4 {
      stroke-width: 2.1px;
    }
  }
  &.svg-business {
    .cls-2 {
      fill: #fff;
    }
  }
}

.icons {
  display: grid;
  padding-inline-start: rem(20px);
  padding-inline-end: rem(20px);
  grid-template-columns: repeat(5, 1fr);
  gap: rem(55px);

  .flex div {
    width: 100%;
    height: 100%;
  }

  span {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    font-family: $font1;

    &.flex::after {
      content: "";
      position: absolute;
      top: 60px;
      right: 50%;
      transform: translate(50%);
      padding: 0 0 8px;
      width: 48px;
      border-bottom: 2px solid #c5c6c9;
      transition: border-color 0.2s ease-in-out, width 0.2s ease-in-out;
    }
    &:hover::after {
      border-color: $primary-clr;
      width: 90px;
      transition: border-color 0.2s ease-in-out, width 0.2s ease-in-out;
    }
  }

  span:not(.flex) {
    display: flex;
    // width: 60px;
    margin-bottom: 16px;
    height: 60px;
  }

  h4 {
    text-align: center;
    font-family: Macan-light;
    color: $secondary-clr-dark;
    line-height: 26px;
  }
}
