/** @format */
// .main-app:has(.add-gig-container) {
//   background-color: $tertiary-clr-light2;
// }
body {
  @include for-mobile-layout {
    font-size: 70%;
  }
}
.main-layout {
  // display: block;
  @include for-mobile-layout {
    grid-template-columns: 1fr;
    overflow: auto;
  }
}
.sec-header {
  width: 90vw;
}
.switch-button {
  align-items: center;
  @include for-mobile-layout {
    width: 100vw;
    span{
      &:first-of-type {
        margin-inline-end: -1rem;
      }
    }
    
    
  }
  
}
.dashboard {
  padding-block-start: 3rem;
  margin-block-end: 2rem;
  gap: 120px;
  align-items: center;

  .add-gig-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // margin-inline-start: 5rem;
    border: 1px solid $grey-txt-lighter;
    // border-radius: 4px 4px 0 0;

    h2 {
      padding-block-start: 1.4rem;
      color: $secondary-clr-dark;
    }

    .user-stats {
      max-width: 398px;
      min-width: 398px;
    
    }

    .gigs-status {
      width: 60%;
    }

    .nav-gig {
      width: 100%;
      max-height: rem(260px);

      justify-content: center;
      justify-items: start;
      align-items: center;
      padding: 1rem;
      border: 1px solid $grey-txt-lighter;
      background-color: $tertiary-clr-dark;
      color: $secondary-clr-dark;
      transition: background-color 0.4s;

      &:hover {
        background-color: #fff;
      }

      .btn-container {
        justify-self: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: rem(12px);

        span {
          //   padding-inline-end: 1rem;
          font-size: 1.2em;
        }

        .btn {
          background-color: $secondary-clr-darker;
          height: 3rem;
          width: 3rem;
          font-size: 1.3rem;
          transition: background-color 0.2s;

          &:hover {
            background-color: $primary-clr;
          }
        }
      }
    }

    .my-gigs {
      padding: 1.5rem;
      width: 100%;
      @include for-mobile-layout {
        justify-content: center;
      }
    }
  }

  .user-stats {
    max-width: rem(398px);
    min-width: rem(398px);

    .user-info {
      color: $secondary-clr-darker-hover;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #fff;
      width: 100%;
      height: rem(344px);
      border: 1px solid $grey-txt-lighter;
      padding: 30px;
      margin-bottom: 20px;

      .img-container {
        width: rem(130px);
        height: rem(130px);
        border-radius: 50%;
        overflow: hidden;
        margin-bottom: rem(15px);
        margin-left: auto;
        margin-right: auto;
        @include for-mobile-layout {
          width: rem(70px);
          height: rem(70px);
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      h2 {
        color: $secondary-clr-dark;
        padding-block-end: rem(20px);
      }

      .profile {
        width: 100%;
        padding-block-start: 1rem;
        border-top: 1px solid $grey-txt-lighter;

        ul {
          li {
            justify-content: space-between;

            &:first-of-type {
              padding-block-end: 1rem;
            }

            div {
              span {
                padding-inline-end: 0.5em;
              }
            }
          }
        }
      }
    }

    .description-container {
      border: 1px solid $grey-txt-lighter;
      width: 100%;
      //   height: 450px;
      height: fit-content;
      padding: 30px;

      ul {
        list-style: none;
        margin: 0;

        li {
          h3 {
            margin-block-end: rem(20px);
            color: $secondary-clr-dark;
          }

          p {
            line-height: rem(24px);
          }
        }
      }
    }
  }

  .user-orders {
    border: 1px solid $grey-txt-lighter;
    padding: 1rem;
    min-height: 200px;
    // margin-block-start: 1.5rem;
    width: 100%;
    @include for-mobile-layout {
      padding: 0;
    }

    .order-list {
      width: 100%;

      .order-item {
        width: 100%;

        .order-table {
          width: 100%;

          .table-header {
            color: $secondary-clr-dark;
            width: 100%;
            padding-block-end: 1rem;
            justify-content: start;
            border-bottom: 1px solid $grey-txt-lighter;
            gap: 0.625rem;
            @include for-mobile-layout {
              padding-block: 1rem;
            }

            & > * {
              //   width: 100%;
              text-align: center;
              width: 20%;
              min-width: rem(80px);
              // padding-inline-start: 2.75rem;
              overflow: hidden;
              text-overflow: ellipsis;

              &:first-of-type {
                text-align: start;
                padding-inline-start: 1rem;
                width: rem(140px);

                @include for-mobile-layout {
                  width: 110px;
                }
              }

              &:nth-of-type(2) {
                text-align: start;
                // padding-inline-start: 0.75rem;
                // min-width: rem(312px);
                // flex: 1;
                flex-grow: 3;
                @include for-mobile-layout {
                  display: none;
                }
              }

              &:nth-of-type(3) {
                text-align: start;
                // padding-inline-start: 2rem;
                width: rem(100px);
                @include for-mobile-layout {
                  width: 100px;
                }
              }

              &:nth-of-type(4) {
                text-align: center;
                // margin-inline-end: -2.5rem;
                width: rem(150px);
                @include for-mobile-layout {
                  width: 95px;
                  text-align: start;
                }
              }

              &:last-of-type {
                text-align: end;
                padding-inline-end: 1.2em;
                width: rem(120px);
                @include for-mobile-layout {
                  width: 80px;
                }
              }
            }
          }

          section {
            padding-block-start: 1rem;
            border-bottom: 1px solid $grey-txt-lighter;
            border-radius: 0 0 4px 4px;
            color: $grey-txt-dark;

            &:hover {
              color: $secondary-clr-lighter;
              background-color: $tertiary-clr-light;
              border-bottom: 1px solid $primary-clr;
            }

            .table-entity {
              gap: rem(10px);
              height: 100px;
              padding: 1rem;
              align-items: center;

              .buyer-col {
                color: $grey-txt-dark;
                flex-direction: column;
                align-items: start;
                gap: 10px;
                // padding-inline-end: .2rem;
                width: rem(130px);

                @include for-mobile-layout {
                  width: 80px;
                }

                // padding: 1rem;
                .img-container {
                  height: rem(48px);
                  width: rem(48px);
                  border-radius: 50%;
                  overflow: hidden;

                  img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                  }
                }

                // align-items: center;
              }

              .gig-col {
                min-width: rem(312px);
                flex-grow: 2;

                @include for-mobile-layout {
                  // min-width: 14.5rem;
                  // max-width: 235px;
                  display: none;
                }
              }

              .due-col {
                width: rem(140px);
                @include for-mobile-layout {
                  width: 100px;
                  padding-inline-start: 1rem;
                }
              }

              .price-col {
                width: rem(100px);
                @include for-mobile-layout {
                  width: 80px;
                  padding-inline-start: 1rem;
                }
              }

              .status-col {
                width: rem(100px);

                h4 {
                  border-radius: 4px;
                  border: 0;
                  height: 40px;
                  text-align: end;
                  padding-block-start: 0.75em;
                  @include for-mobile-layout {
                    font-size: 1.05em;
                    padding-inline-end: .3rem;
                  }
                }
              }
            }
          }
        }

        .inner-order {
          .no-order {
            display: flex;
            width: 100%;
            justify-content: end;
            text-align: end;
            flex-direction: column;
            align-items: center;
            gap: rem(20px);

            h4 {
              margin-block-end: 1rem;
            }

            span {
              padding: 1rem 0.5rem;

              justify-self: center;
              width: 250px;
              border-radius: 4px;

              &:hover {
                color: #fff;
                background-color: $primary-clr;
              }
            }
          }
        }
      }
    }
  }
}

.finished {
  padding: 3px;
  color: $success-clr;
}

.rejected {
  border: 0;
  padding: 3px;
  color: $danger-clr;
}

.waiting {
  border: 0;
  // background-color: $star-clr;
  padding: 3px;
  color: $star-clr;
}

@media (max-width: $break-mobile) {
  .dashboard {
    flex-direction: column;

    .user-stats {
      display: flex;
      max-width: none;
      justify-content: space-around;
      flex-direction: column;
      min-width: none;
      align-items: center;

      .user-info {
        margin: 0;
        height: 100%;
        padding: 10px;
        width: 70%;
      }

      .description-container {
        margin: 0;
        height: 100%;
        padding: 10px;
        width: 70%;
      }

    }
  }
  .delivery-container {
    position: relative;
    .delivery-dropdown  {
      z-index: 11;
      position: absolute;
      top: 100%;
      color: $grey-txt-dark;
      background-color: #fff;
      border: 1px solid #e4e5e7;
      border-radius: 8px;
      box-shadow: 0px 0px 14px 0 rgba(0, 0, 0, 0.232);
      .radio-list {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0 rem(-12px);
        gap: 6px;

        .radio-item-wrapper {
          display: flex;
          max-height: 214px;
          justify-content: space-between;
          padding: 0.5em;
          border-radius: 4px;
          &:hover {
            background-color: $tertiary-clr;
          }

          // input[type="radio" i] {
          //   width: 22px;
          //   height: 22px;
          //   color: $secondary-clr-darker;
          //   border: 0;
          //   outline: 0;

          //   &:focus {
          //     outline: 0;
          //     border: 0;
          //   }
          //   &:checked {
          //     outline: 0;
          //     border: 0;
          //     background-color: $secondary-clr-darker;
          //     color: $secondary-clr-darker;
          //   }

          //   // &::after {
          //   //   color: $secondary-clr-darker;
          //   //   outline: 0;
          //   //   border: 0;
          //   // }
          // }
        }
      }
      &.orders {
        left: -10%;
        width: 110px;

        .radio-list {
          width: 90px;
          align-items: center;
        }

      }
      .inputs {
        padding: rem(24px);
        width: rem(254.8px);
        // height: 6.5em;
        // max-height: rem(309.8px);
        max-height: 309.8px;
        overflow-y: scroll;
  
        
  
        input {
          padding-inline-start: 0.4em;
          width: em(100px);
          height: 2.5em;
          border-radius: 4px;
          transition: 0.1s;
          border: 1px solid $grey-txt-lighter;
          //   box-shadow: 0 0 0 1px $grey-txt-light inset;
          border-start-end-radius: 0px;
          border-end-end-radius: 0px;
          border-right: 0;
          &:focus {
            outline: 0;
            box-shadow: 0 0 0 1px black inset;
          }
        }
        p {
          margin-block-start: 0;
          text-align: start;
          font-size: em(12px);
          font-weight: 600;
          line-height: 2rem;
          margin-bottom: em(4px);
        }
      }
  
      .icon-container {
        // vertical-align: middle;
  
        line-height: 1.9em;
        border: 1px solid $grey-txt-lighter;
        border-left: 0;
        padding-inline-end: 0.8em;
        border-start-end-radius: rem(4px);
        border-end-end-radius: rem(4px);
  
        &:not(.last) {
          margin-inline-end: 2em;
        }
  
        .last {
          margin-inline-end: 0em;
        }
      }
    }
  
    .buttons {
      border-top: 1px solid #dadbdd;
      justify-content: space-between;
      align-items: center;
      padding: rem(12px) rem(24px);
      font-size: em(14px);
  
      .btn-apply {
        font-family: $font2;
        line-height: rem(24px);
        padding: rem(12px) rem(28px);
        background-color: $secondary-clr-darker;
        color: white;
        border: 1px solid $secondary-clr-darker;
        border-radius: 4px;
  
        &:hover {
          color: white;
          background-color: $secondary-clr-darker-hover;
          border-color: $primary-clr-dark;
        }
      }
    }
  }
}

// saving for future
/*
.dashboard .user-orders .order-list .order-item .order-table .table-header > *:last-of-type {padding: 0; width: min-content;}
.dashboard .user-orders .order-list .order-item .order-table .table-header > *:nth-of-type(3) {width: none}
.dashboard .user-orders .order-list .order-item .order-table .table-header > *:nth-of-type(2) {width: min-content;}
.dashboard .user-orders .order-list .order-item .order-table .table-header > *:first-of-type {width: max-content;}
*/
