/** @format */

.main-header {
  z-index: 2999;
  width: 100%;
  transition: color 0.5s ease;

  .btn-join {
    font-size: 14px;
    transition: 0.2s;
    border-radius: 4px;
  }

  .fiverr-header:not(.header-transparent) {
    &:visited:not(:hover) {
      color: $primary-clr-dark;
    }
    div.fiverr-nav ul {
      margin: 0;
      height: 100%;
      & > * {
        font-size: 1em;

        padding-inline-end: 1.5em;
        font-family: $font2;
        color: white;

        &:last-child {
          padding-inline-end: 0;
        }
      }
      // align-items: center;
      // > *:hover {
      //   color: red;
      //   cursor: pointer;
      // }
      li {
        & > *:not(.btn-join) {
          color: $secondary-clr-dark;
          &:hover {
            color: $primary-clr;
            cursor: pointer;
          }
        }
      }
    }

    .btn-join {
      font-size: 14px;
      padding: 10px 16px;

      color: $primary-clr;
      border: 1px solid $primary-clr;
      &:hover {
        color: white;
        background-color: $primary-clr-dark;
        border-color: $primary-clr-dark;
      }
    }
  }

  .fiverr-header.header-transparent {
    .btn-join {
      font-size: 14px;
      padding: 10px 16px;
      border: 1px solid white;

      &:hover {
        color: white;
        background-color: $primary-clr-dark;
        border: 1px solid $primary-clr;
      }

      &:visited:not(:hover) {
        color: white;
      }
    }

    div.fiverr-nav ul {
      color: white;
      margin: 0;
      height: 100%;
      & > * {
        font-size: 1em;

        padding-inline-end: 1.5em;
        font-family: $font2;
        color: white;

        &:last-child {
          padding-inline-end: 0;
        }
      }
      // align-items: center;
      // > *:hover {
      //   color: $primary-clr;
      //   cursor: pointer;
      // }
      li {
        color: white;
        & > * {
          color: white;
          &:hover:not(.btn-join) {
            color: $primary-clr;
            cursor: pointer;
          }
        }
      }
    }
  }

  .sec-header {
    // position: absolute;
    left: 0%;
    width: 100%;
    opacity: 0;
    transform: rotateX(90deg);
    transition: transform 0.2s;
    &.show {
      // position: relative;
      opacity: 1;
      transform: rotateX(0);
      height: 40px;
      align-items: center;
      background-color: #fff;

      font-size: 1.1em;
      border-bottom: 1px solid #e4e5e7;
      border-top: 1px solid #e4e5e7;
    }

    &-nav {
      padding-block-start: 0.14em;
      a {
        text-decoration: none;
        padding-block: rem(8px);
        margin-inline-end: rem(38px);
        color: $grey-txt-dark;
        flex-shrink: 0;
        line-height: 20px;
        transition: color 0.2s;
        font-family: $font3;
        font-size: 1em;
        letter-spacing: -0.047em;
        cursor: pointer;
        font-weight: 400;

        &:hover {
          box-shadow: 0 -3px #1dbf73 inset;
          transition: color 0.2s;
        }
      }
    }
  }

  .fiverr-header {
    transition: background-color 0.25s ease;
    nav.header-row {
      height: 80px;
      width: 100%;
    }
  }

  .btn-nav {
    margin-inline-end: 15px;
    display: none; //in media query it show it as hamburger
  }

  .nav-with-space {
    //looks like its justr margin change
    margin-inline-start: 1rem;
  }

  .fiverr-nav {
    margin-inline-start: 2rem;
    justify-content: flex-end;
  }

  .search-form {
    input {
      transition: 0.1s;
      border: 0;
      box-shadow: 0 0 0 1px $grey-txt-light inset;
      border-start-end-radius: 0px;
      border-end-end-radius: 0px;
      &:focus {
        outline: 0;
        box-shadow: 0 0 0 1px black inset;
      }
    }
  }
}

.fiverr-search {
  visibility: hidden;

  &-show {
    visibility: visible;
  }
}

.fiverr-header-search {
  flex-grow: 8;
  max-width: 434px;

  .btn-search {
    background-color: $secondary-clr-darker;
    color: white;
    padding: 0.75em 1em;
    text-shadow: none;
    border-radius: 0 4px 4px 0;
    height: 100%;

    &:hover {
      background-color: $secondary-clr-darker-hover;
    }
  }
}

.fiverr-nam-right {
  flex-grow: 1;
}

.site-logo {
  min-width: 121px;
}

.main-header.clr-white > *li {
  //same, name sucks
  color: white;
}

.header-row {
  a {
    max-width: 8.625rem;
    justify-self: start;

    // color: #fff;
  }
}

header.header-transparent {
  //suppose to be in helpers?
  background-color: transparent;
}
