/** @format */
.footer-container {
  position: relative;

  .footer {
    position: absolute;
    width: 100%;
    top: 100%;
    border-top: 1px solid #e4e5e7;
    margin-block-start: 1rem;

    footer {
      max-height: rem(80px);
      height: rem(80px);
      width: 100%;
      align-items: center;
      justify-content: space-between;

      .social-btns {
        // justify-self: end;
        // justify-content: flex-start;
        align-items: center;

        div {
          margin-inline-start: rem(20px);
          padding-block-start: 1.2em;
        }
      }

      .left-footer {
        width: auto;
        align-items: center;
        height: 100%;

        svg:not(.dot-copy) {
          margin: 0;
          // fill: none;
          fill: $grey-txt;
          & > * {
            margin: 0;
          }
          .dot-copy {
            display: none;
            position: relative;
            margin: 0;
            fill: rgba(255, 255, 255, 0);
            transform-origin: 0px 0px;
          }
        }

        .router-link-active {
          padding-top: 0.3em;
          .fiverr-logo-footer {
            svg {
              position: relative;
              margin: 0;
              // fill: none;
              fill: rgb(122, 125, 133);
              & > * {
                margin: 0;
              }

              &::after {
                z-index: 10000;
                position: absolute;
                top: 0;
                height: 2px;
                width: 2px;
                content: "\ae";
                font-size: 0.6rem;
                color: #0659ff;
              }
              .dot-copy {
                margin: 0;
                fill: $grey-txt;
                transform-origin: 0px 0px;
              }
            }
          }
        }

        .text-body {
          height: 100%;
          font-weight: 400;
          font-size: em(14px);
          line-height: 1.7125rem;
          margin: 0;
          align-items: center;

          .copyright {
            padding-block-start: 0.9em;
            color: $grey-txt;
            flex-direction: row;
            margin-inline-start: rem(24px);
            min-width: 0;
            // padding-block-start: 1em;
            white-space: nowrap;
          }
        }
      }
    }
  }
}
