/** @format */

.gig-preview {
  position: relative;
  box-sizing: border-box;
  border: 1px solid #e4e5e7;
  width: 100%;
  max-width: rem(323px);
  @include for-mobile-layout {
    max-width: rem(348px);
  }
  @include for-small-layout {
    max-width: rem(348px);
  }
  // display: flex;
  .user-profile {
    height: rem(54px);
    align-items: center;
    padding: rem(12px) rem(12px) rem(8px);
    border-radius: 10.4375em;

    // width: rem(34px);
    // height: rem(34px);
    // border-radius: 10.4375em;
    // overflow: hidden;
    // margin-top: 0.5rem;
    // margin-left: rem(10px);
    // margin-right: auto;
    // img {
    //   border-radius: 50%;
    //   height: rem(24px);
    //   width: rem(24px);
    // }

    .img-container {
      margin-block-start: 1rem;
      width: rem(24px);
      height: rem(24px);
      border-radius: 10.4375em;
      overflow: hidden;
      margin-bottom: rem(15px);
      // margin-left: auto;
      // margin-right: auto;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .user-container {
      flex-direction: column;
      .user-name {
        color: $secondary-clr-dark;
        margin: 0;
        font-size: em(14px);
        font-weight: 600;
        margin-left: rem(8px);
        padding-bottom: 0.4em;
      }

      .user-level {
        margin: 0;
        color: $secondary-clr;
        font-size: em(14px);
        font-weight: 400;
        margin-left: rem(8px);
      }
    }
  }

  .title {
    height: rem(48px);
    color: #222325;
    margin-top: rem(5px);
    font-family: "Macan", "Helvetica Neue", Helvetica, Arial, sans-serif;

    .long-text {
      box-sizing: border-box;
      color: #222325;
      cursor: pointer;
      display: block;
      display: -webkit-box;
      font-weight: 400;
      height: 43px;
      line-height: 22px;
      margin-top: 5px;
      // overflow: hidden;
      padding: 0 12px 5px;
      -webkit-transition: 0.15s ease-in-out;
      -o-transition: 0.15s ease-in-out;
      transition: 0.15s ease-in-out;
      word-break: break-word;
    }
  }

  .rating {
    padding: rem(10px) rem(12px);
    font-size: em(14px);
    font-weight: 700;
    line-height: em(21px);
    grid-template-columns: 1fr 1fr 7fr 2fr;
    svg {
      margin: 0;
    }

    span {
      margin-inline-start: -0.35rem;
    }

    .num {
      margin-inline-start: -0.75rem;
      color: $grey-txt;
      font-weight: 400;
    }
  }

  .price-container {
    text-align: right;
    border-top: 1px solid #efeff0;
    color: $secondary-clr-light;
    padding: rem(3px) rem(12px);
    font-size: em(10px);
    justify-content: space-between;
    align-items: center;

    .price {
      color: #404145;
      padding-left: rem(4px);
      padding-top: rem(4px);
      // margin-inline-start: 0.3125em;
      font-size: 1.125rem;
      line-height: 1.25rem;
    }

    h4 {
      font-family: $font1;
      padding-bottom: rem(2px);
      display: inline-block;
      font-size: rem(16px);
      font-weight: 700;
      letter-spacing: em(1px);
      padding: 6px 0 0;
      text-transform: uppercase;
      vertical-align: top;
      margin-inline-start: 12px;
    }

    .like {
      fill: $grey-txt;
      transform: scale(1);
      transition: 0.2s;
      margin: 0;

      &:hover {
        fill: rgb(219, 85, 85);
        transform: scale(1.2);
      }
    }

    & .flex {
      text-align: right;
      align-items: center;
      // flex-direction: column;
      height: rem(40px);
      justify-content: center;
      margin-block-start: -2px;
      line-height: rem(20px);
    }
  }

  &:hover .title .long-text {
    color: $primary-clr;
  }
  .btns-container {
    position: absolute;
    left: 200px;
    top: 1%;
    display: flex;
    gap: rem(10px);
  }

  .btn {
    cursor: pointer;
    color: $secondary-clr-dark;
    .carousel-imgs {
      width: 100%;
      min-width: rem(245px);
    }
    &.btn-owner {
      z-index: 100;
      color: $primary-clr-light;
      mix-blend-mode: difference;
    }
  }

  .vueperslides {
    height: rem(185px);
    max-width: rem(328px);
    padding: 0;
    border: 0;
    @include for-mobile-layout {
      max-width: rem(348px);
    }
    @include for-small-layout {
      max-width: rem(348px);
    }

    .vueperslides__bullet .default {
      display: block;
      opacity: 1;
      background-color: #fff;
      color: #fff;
      transform: scale(0.65);
      transition: transform 0.2s;
      border: 0;

      // font-size: 10px;
      // opacity: 0.8;
    }

    .vueperslides__bullet--active .default {
      transition: transform 0.2s;
      transform: scale(1);
      box-shadow: 0px 0px 3px 0px $secondary-clr-darker;
    }

    .vueperslides__parallax-wrapper {
      height: 100%;

      .vueperslides__track {
        .vueperslides__track-inner {
          .vueperslide {
            z-index: -11;
            img {
              background-size: 80px;
              height: 100%;
              max-height: 100%;
              max-width: 100%;
              min-height: 140px;
              min-width: 140px;
              // -o-object-fit: contain;
              object-fit: cover;
              width: 100%;
            }
          }
        }
      }
      // @include aspect-ratio($width:308.4, $height:185)
    }

    .vueperslides__arrow {
      position: absolute;
      top: 58%;
      height: 28px;
      width: 24px;
      opacity: 0;
      transition: 0.2s;

      i {
        font-size: 14px;
      }

      &--next {
        right: -10%;
        border-radius: 50% 0 0 50%;
      }
      &--prev {
        left: -10%;
        border-radius: 0 50% 50% 0;
      }
    }

    &:hover {
      .vueperslides__arrow {
        opacity: 1;
        position: absolute;
        bottom: 0;
        // width: rem(35px);
        transition: 0.2s;

        &--next {
          right: 0%;
          border-radius: 50% 0 0 50%;
        }
        &--prev {
          left: 0%;
          border-radius: 0 50% 50% 0;
        }
      }
    }
  }
}
