/** @format */

.gig-page {
  position: relative;

  .side-bar {
    background-color: #fff;
  }

  .nav-container {
    z-index: 100;
    width: 100%;
    height: 53px;

    ul {
      gap: 26px;
      align-items: center;
      height: 100%;
      margin: 0;

      li {
        height: 100%;
        color: #95979d;
        display: inline-block;
        font-size: 0.875em;
        font-weight: 600;
        transition: color 0.2s;
        line-height: 3rem;
        text-align: center;
        &.selected {
          box-shadow: 0 -4px #1dbf73 inset;
          color: $secondary-clr-dark;
        }

        &:hover {
          color: $secondary-clr;
        }

        a {
          text-align: center;
        }
      }
    }
  }
  .sticky-focus-header {
    width: 100%;
    height: 53px;
    position: sticky;
    top: 0;
    border-bottom: 1px solid $grey-txt-lighter;
    background: #ffffff;
    width: 100%;
  }

  .main {
    flex-grow: 1;
  }

  .details-layout {
    // display: flex;
    flex-direction: row-reverse;
  }

  .gig-packages-form {
    // position: relative;
  }
}

.seller-photo {
  margin-inline-end: 16px;
}

.seller-stats > * {
  margin-inline-end: 8px;
}
