.gig-list {
    max-width: 1400px;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 32px;
    margin-top: 16px;
    


    @include for-small-layout {
        grid-template-columns: repeat(1,1fr);
      }

    @include for-medium-layout {
        grid-template-columns: repeat(3,1fr);
      }
    
      @include for-normal-layout {
        grid-template-columns: repeat(4,1fr);
      }
    
      @include for-wide-layout {
        grid-template-columns: repeat(4,1fr);
      }
    
      @include for-ultra-wide-layout {
        grid-template-columns: repeat(4,1fr);
      }
}

.gig-header {
    color: $secondary-clr-darker;
    font-size: 32px;
    line-height: 36px;
    font-weight: 700;
    padding: 8px 0;
    font-family: Macan,Helvetica Neue,Helvetica,Arial,sans-serif;
}