.gig-list {
    max-width: 1400px;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 2em;
    margin-top: 1rem;
    


    @include for-small-layout {
        grid-template-columns: repeat(1,1fr);
      }

    @include for-medium-layout {
        grid-template-columns: repeat(3,1fr);
      }
    
      @include for-normal-layout {
        grid-template-columns: repeat(4,1fr);
      }
    
      @include for-wide-layout {
        grid-template-columns: repeat(4,1fr);
      }
    
      @include for-ultra-wide-layout {
        grid-template-columns: repeat(4,1fr);
      }
}

.gig-header {
    color: $secondary-clr-darker;
    font-size: 2em;
    line-height: 2.25em;
    font-weight: 700;
    padding: .5em 0;
    font-family: Macan,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.count-services {
  color: #74767e;
    font-size: .825em;
    font-weight: 600;
    line-height: 1.375em;
}

.services-sort {
  margin-top: .5rem;
}