.gig-list {
    max-width: 1400px;
<<<<<<< HEAD
    grid-template-columns: repeat(4,1fr);
    column-gap: 32px;
=======
    // grid-template-columns: repeat(4,1fr);
    // grid-template-columns: repeat(auto-fit, minmax(0rem, 16.8rem));
    grid-gap: 32px;
    min-height: 370px;
>>>>>>> 38cc294d2fcd53f36149c425ab11a227cf813a49
    margin-top: 16px;
    


    @include for-small-layout {
        grid-template-columns: repeat(1,1fr);
      }

    @include for-medium-layout {
        grid-template-columns: repeat(3,1fr);
      }
    
      @include for-normal-layout {
        grid-template-columns: repeat(4,1fr);
      }
    
      @include for-wide-layout {
        grid-template-columns: repeat(4,1fr);
      }
    
      @include for-ultra-wide-layout {
        grid-template-columns: repeat(4,1fr);
      }
}