/** @format */

.gig-page {
  position: relative;


  .side-bar {
    background-color: #fff;
  }

  .sticky-focus-header {
    width: 100%;
    height: 3.3125em;
    position: sticky;
    top: 0;
    border-bottom: 1px solid $grey-txt-lighter;
    background: #ffffff;
    width: 100%;
  }

  .main {
    margin-inline-end: 9.15%;
    width: 57.42%;
  }

  .details-layout {
    flex-direction: row-reverse;
    padding: 32px;
  }

  .gig-packages-form {
    // position: relative;
  }
}

.seller-photo {
  margin-inline-end: 1rem;
}

.seller-stats>* {
  margin-inline-end: .5rem;
}