/** @format */

.gig-preview {
  position: relative;
  box-sizing: border-box;
  border: 1px solid #e4e5e7;
  width: 100%;
  max-width: rem(326px);

  .user-profile {
    height: rem(54px);
    align-items: center;
    padding: rem(12px) rem(12px) rem(8px);

    img {
      border-radius: 50%;
      height: rem(24px);
      width: rem(24px);
    }

    .user-name {
      color: $secondary-clr-dark;
      font-size: em(14px);
      font-weight: 600;
      margin-left: rem(8px);
    }
  }

  .title {
    text-align: center;
    height: rem(43px);
    color: #222325;
    margin-top: rem(5px);
    padding: 0px rem(12px) rem(5px);
    font-family: Macan, Helvetica Neue, Helvetica, Arial, sans-serif;

    .long-text {
      font-size: 1em;
      word-wrap: break-word;
      text-align: left;
    }
  }

  .rating {
    padding: rem(10px) rem(12px);
    // color: #02c2a9;
    font-size: em(14px);
    font-weight: 700;
    line-height: em(21px);
    grid-template-columns: 1fr 1fr 7fr 2fr;
    svg {
      margin: 0;
    }

    span {
      margin-inline-start: -.35rem;
    }
  }

  .price-container {
    text-align: right;
    border-top: 1px solid #efeff0;
    color: $secondary-clr-light;
    padding: rem(3px) rem(12px);
    font-size: em(10px);
    justify-content: space-between;
    align-items: center;

    .price {
      color: #404145;
      padding-left: rem(4px);
      // margin-inline-start: 0.3125em;
      font-size: 1.125rem;
      line-height: 1.25rem;
    }

    h4 {
      padding-bottom: rem(2px);
      display: inline-block;
      font-size: em(16px);
      font-weight: 700;
      letter-spacing: em(1px);
      padding: 6px 0 0;
      text-transform: uppercase;
      vertical-align: top;
      margin-inline-start:12px ;
    }

    .like {
      fill: $grey-txt;
      transform: scale(1);
      transition: 0.2s;
      margin: 0;

      &:hover {
        fill: rgb(219, 85, 85);
        transform: scale(1.2);
      }
    }

    & .flex {
      text-align: right;
      align-items: center;
      // flex-direction: column;
      height: rem(40px);
      justify-content: center;
      margin-block-start: -2px;
      line-height: rem(20px);
    }
  }

  &:hover .title .long-text {
    color: $primary-clr;
  }
  .btns-container {
    position: absolute;
    left: 87%;
    top: 1%;
    display: flex;
    gap: rem(10px);
  }

  .btn {
    cursor: pointer;
    color: $secondary-clr-dark;
    .carousel-imgs {
      width: 100%;
      min-width: rem(245px);
    }
    &.btn-owner{
      z-index: 100;
      color: #efeff0;
    }
  }


  .vueperslides {
    height: rem(185px);
    width: rem(326px);
    padding: 0;
    border: 0;
    .vueperslides__parallax-wrapper {
      height: 100%;

      .vueperslides__track {
        .vueperslides__track-inner {
          .vueperslide {
            z-index: -11;
          }
        }
      }
      // @include aspect-ratio($width:308.4, $height:185)
    }

    .vueperslides__arrow {
      position: absolute;
      bottom: 0;
      height: 35px;
      width: rem(35px);
      opacity: 0;
      transition: 0.2s;

      &--next {
        right: -10%;
        border-radius: 50% 0 0 50%;
      }
      &--prev {
        left: -10%;
        border-radius: 0 50% 50% 0;
      }
    }

    &:hover {
      .vueperslides__arrow {
        opacity: 1;
        position: absolute;
        bottom: 0;
        height: 35px;
        width: rem(35px);
        transition: 0.2s;

        &--next {
          right: -1%;
          border-radius: 50% 0 0 50%;
        }
        &--prev {
          left: -1%;
          border-radius: 0 50% 50% 0;
        }
      }
    }
  }
}
