/** @format */

.trusted {
    color: $grey-txt;
background-color: $tertiary-clr-dark2;

  .logos {
    align-items: center;
    // gap: 10px;
    span {
      padding-right: 2.8em;
      font-weight: 600;
    }
  }

  .icon-container {
    padding-right: 3.75em;
  }
}
