/** @format */

.my-gigs {
  gap: 20px;
  > div {
    max-width: 15.75rem;
    div {
      display: flex;
      flex-direction: column;

      h3 {
        height: 100%;
        flex-wrap: wrap;
        margin-bottom: 20px;
      }
    }
    .price-container {
      padding: 0.2rem;
      max-height: 45px;
      // height: 20px;
      .flex {
        max-height: 45px;
        width: 100%;
        // padding-inline-end: 1rem;
        flex-direction: row;
        // justify-content: end;
      }
    }
  }
}

.user-gigs-img {
  max-width: 100%;
  max-height: 9rem;
  object-fit: cover;
  // width: 180px;
  // height: 120px;
}

.gig-preview {
  > * .full-size:hover {
    cursor: pointer;
  }
}
