/** @format */

.vueperslides {
  //   width: 300px;
  position: relative;
  background-color: #ffffff00;
  width: 100%;
  // min-height: 300px;
  padding-inline-end: 0.5rem;

  &.details-slides {
    border: 1px solid $grey-txt-lighter;
  }

  .vueperslides__inner {
    height: inherit;
    position: relative;
    user-select: none;
  }

  .categories-list section.type-card .vueperslides__parallax-wrapper {
    position: relative;
    overflow: hidden;
    // padding-bottom: 26% !important;
  }

  .vueperslides__track {
    position: absolute;
    top: 0;
    cursor: pointer;
    width: 100%;
    // min-height: 300px;
    user-select: none;
    left: 0;
    right: 0;
    overflow: hidden;
    z-index: 1;
  }

  .vueperslides__track-inner {
    white-space: nowrap;
    transition: 0.5s ease-in-out transform;
    // min-height: 300px;
    height: rem(340px);
    display: flex;
  }

  .vueperslide__content-wrapper {
    width: 100%;
  }

  .subcategory-warper {
    position: relative;
    height: rem(340px);
    display: flex;
    flex-direction: column;
    color: $tertiary-clr-light;
    margin-inline-end: 3%;
    width: rem(252px);
    // height: 100%;
    border-radius: 4px;
    padding: 1rem;
    cursor: pointer;

    span {
      font-size: em(14px);
      padding-block-end: 0.5rem;
      text-align: left;
    }

    h4 {
      color: white;
      text-align: left;
      font-size: em(23px);
    }
  }

  .vueperslide__content {
    min-height: rem(300px);
    width: 100%;
    color: white;
  }

  .vueperslides__arrow {
    // right: 0;
    height: rem(32px);
    margin-top: rem(-16px);
    width: rem(32px);
    border-radius: 50%;
    background-color: white;
    color: $secondary-clr-dark;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 15%);
    line-height: 100%;
    font-size: 1em;
    z-index: 9;
  }
}
