/** @format */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  // font-family: $font1;
  // letter-spacing: .01em;
  font-family: $font3;
}

body {
  overflow-x: hidden;
}

ul,
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

ul {
  list-style: none;
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 700;
  color: inherit;
}

a {
  text-decoration: none;
  font-size: inherit;
  cursor: auto;
}

a:visited {
  color: inherit;
}

input[type="date"],
input[type="datetime-local"],
input[type="datetime"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
textarea {
  background-color: #fff;
  border: 1px solid #c5c6c9;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
  color: #404145;
  font: inherit;
  padding: 8px 12px;
  resize: none;
  transition: 0.15s ease-in-out;
  width: 100%;
}

.fiverr-header {
  background-color: #fff; //suppose to be var, idk how to call it
}

.bgc-white {
  background-color: white;
}

.btn.btn-add {
  border-radius: 50%;
  height: rem(40px);
  width: rem(40px);
  color: white;
  background-color: $primary-clr;
  &:hover {
    background-color: $primary-clr-dark;
    .fa-solid {
      transform: scale(1.5);
    }
  }
  .fa-solid {
    transform: scale(1);
    transition: 0.2s;
  }
}

.img-user {
  border-radius: 50%;
  // @include aspect-ratio(1, 1);
  margin-block-start: 1rem;
  margin-inline-end: 1rem;

  img {
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
  }
}
