* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: $font1
}

body {
  overflow-x: hidden;
}

ul,
p {
  margin: 0;
}

ul{
  list-style: none;
} 


h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 700;
  color: inherit;
}

a {
  text-decoration: none;
  font-size: inherit;
  cursor: auto;
}


