/** @format */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: $font1;
}

body {
  overflow-x: hidden;
}

ul,
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

ul {
  list-style: none;
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 700;
  color: inherit;
}

a {
  text-decoration: none;
  font-size: inherit;
  cursor: auto;
}
<<<<<<< HEAD
=======

.fiverr-header {
  background-color: #fff;//suppose to be var, idk how to call it
}

>>>>>>> 1c3b0bb6d7be61ee503edc33ff0c4bbc87aabae3
