/** @format */

.grid {
  display: grid;
}

.sticky {
  position: sticky;
  top: 0;
}

.flex {
  display: flex;
}

.flex.column {
  flex-direction: column;
}

.flex.inline-flex {
  display: inline-flex;
}

.align-self-center {
  align-self: center;
}

.self-end {
  align-self: flex-end;
}

.flex.items-center {
  align-items: center;
}

.flex.justify-center {
  justify-content: center;
}

.flex.justify-end {
  justify-content: flex-end;
}

.flex.justify-between {
  justify-content: space-between;
}

.flex.wrap {
  flex-wrap: wrap;
}
.max-width-container{//its changed using media query
  padding-inline: 32px;
}

.max-width-container {
  padding-inline: 32px;
}

// List
.clean-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.grow {
  flex: 1;
}

.w-100 {
  width: 100%;
}

.btn {
  background-color: transparent;
  border: none;
}

// Text
.vertical-text {
  writing-mode: tb-rl;
  transform: rotate(-180deg);
}

.tag-text {
  // color: $clr1;
  text-transform: uppercase;
  @include type(boldCondensed);
}

.bold {
  font-family: 'Macan-Bold';
}

.regular {
  font-family: 'Macan-light';
}

.no-style{
  text-decoration: none;
  color: inherit;
}

// Aspect ratios

.ratio-16-9 {
  @include aspect-ratio(100, 56);
}

.ratio-square {
  @include aspect-ratio(100, 100);
}

.ratio-card {
  @include aspect-ratio(100, 80);
}

.ratio-poster {
  @include aspect-ratio(100, 150);
}
