.main-layout {
  display: grid;
  grid-template-columns: 10px 1fr 10px;
  grid-template-rows: max-content 1fr max-content;
  height: 100vh;

  >* {
    grid-column: 2;
  }

  >*.full {
    grid-column: 1 / -1;
  }

  @include for-medium-layout {
    grid-template-columns: 30px 1fr 30px;
  }

  @include for-narrow-layout {
    grid-template-columns: 100px 1fr 100px;
  }

  @include for-wide-layout {
    grid-template-columns: 200px 1fr 200px;
  }

  @include for-ultra-wide-layout {
    grid-template-columns: 1fr 1550px 1fr;
  }
}