.main-app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-layout {
  flex: 1;
  display: grid;
  grid-template-columns: 24px 1fr 24px;
  grid-template-rows: max-content 1fr max-content;

  >* {
    grid-column: 2;
  }

  >*.full {
    grid-column: 1 / -1;
  }



  @include for-mobile-layout {
    grid-template-columns: 24px 1fr 24px;
  }

  @include for-small-layout {
    grid-template-columns: 30px 1fr 30px;
  }

  @include for-medium-layout {
    grid-template-columns: 30px 1fr 30px;
  }

  // @include for-narrow-layout {
  //   grid-template-columns: 100px 1fr 100px;
  // }

  @include for-wide-layout {
    grid-template-columns: 1fr 1400px 1fr;
  }

  @include for-ultra-wide-layout {
    grid-template-columns: 1fr 1400px 1fr;
  }
}