.c-btn {
    background-color: transparent;
    border: 1px solid $secondary-clr;
    padding: rem(10px) rem(20px);
    font-family: $font1;
    font-size: 1rem;
    border-radius: rem(5px);
    color: $secondary-clr-light;
    cursor: pointer;
    display: block;
    width: max-content;
    
    &:hover {
        border-color: $primary-clr;
        color: $primary-clr;
    }

    &.primary{
        background-color: $primary-clr;
        color: #fff;
    }
}

.c-input {
    padding: rem(10px);
    border-radius: rem(5px);
    border: 1px solid $secondary-clr;
    font-family: $font1;
    font-size: 1rem;
}