// Macan

@font-face {
  font-family: 'Macan-Bold';
  src: url('@/assets/fonts/Macan/macan-Bold.ttf');
}

@font-face {
  font-family: 'Macan-light';
  src: url('@/assets/fonts/Macan/macan-light.ttf');
}