// Macan

@font-face {
  font-family: 'Macan-Bold';
  src: url('@/assets/fonts/Macan/macan-Bold.ttf');
}

@font-face {
  font-family: 'Macan';
  src: url('@/assets/fonts/Macan/macan-regular.woff2');
}

@font-face {
  font-family: 'Macan-light';
  src: url('@/assets/fonts/Macan/macan-light.ttf');
}

@font-face {
  font-family: 'DomaineDisplay';
  src: url('@/assets/fonts/domaine-display-web-medium-italic.woff2');
}
