/** @format */

// COLORS
$primary-clr: #1dbf73;
$primary-clr-dark: #19a463;
//this is actually green
$primary-clr-light: #f1fdf7;

$secondary-clr-darker: #222325;
$secondary-clr-darker-hover: #3f3f3f;
$secondary-clr-dark: #404145;
// $secondary-clr: #7A7D85;
$secondary-clr: #7A7D85;
$secondary-clr-light: #74767e;
$secondary-clr-lighter: #95979d;

$visited-clr: #446ee7;

$facebook-clr: #4267b2;
$signing-clr: #e4e5e7;

$black-clr: #000;
$white-clr: #fff;


$grey-txt-lighter: #dadbdd;
$grey-txt-light:#c5c6c9;
$grey-txt:#b5b6ba;
$grey-txt-dark:#62646a;


$tertiary-clr: #f2f2f2;
$tertiary-clr-light: #fcfcfc;
$tertiary-clr-light2: #f7f7f7;
$tertiary-clr-dark: #f5f5f5;
$tertiary-clr-dark2: #fafafa;

$success-clr: #1dbf73;
$danger-clr: #bf1d1d;
$star-clr: #ffbe5b;

// LAYOUT
$layoutPadding: 40px;
$layoutBetaa: 146px;

// LAYOUT BREAKPOINTS
$break-mobile: 580px;
$break-small: 620px;
$break-medium: 948px;
$break-narrow: 1024px;
$break-normal: 1300px;
$break-wide: 1500px;

$padded-break-narrow: $break-narrow + $layoutPadding * 2;
$padded-break-normal: $break-normal + $layoutPadding * 2;
$padded-break-wide: $break-wide + $layoutPadding * 2;

$font1: 'Macan-light', sans-serif;
$font2: 'Macan-bold', sans-serif;
$font3: 'Macan', sans-serif;


