/** @format */

// COLORS
$primary-color: #1dbf73;
//this is actually green
$primary-color-light: #f1fdf7;

$secondary-color: #222325;
$secondary-color-light: #4b4f56;

$tertiary-color: #f2f2f2;
$tertiary-color-light: #ffffff;
$tertiary-color-dark: #f5f5f5;

// LAYOUT
$layoutPadding: 40px;
$layoutBetaa: 146px;

// LAYOUT BREAKPOINTS
$break-mobile: 580px;
$break-small: 620px;
$break-medium: 860px;
$break-narrow: 1024px;
$break-normal: 1300px;
$break-wide: 1500px;

$padded-break-narrow: $break-narrow + $layoutPadding * 2;
$padded-break-normal: $break-normal + $layoutPadding * 2;
$padded-break-wide: $break-wide + $layoutPadding * 2;

$font1: Roboto-Regular, sans-serif;
