/** @format */

// COLORS
$primary-clr: #1dbf73;
//this is actually green
$primary-clr-light: #f1fdf7;

$secondary-clr: #222325;
$secondary-clr-light: #62646a;

$tertiary-clr: #f2f2f2;
$tertiary-clr-light: #ffffff;
$tertiary-clr-dark: #f5f5f5;

$success-clr: #1dbf73;
$danger-clr: #bf1d1d;

// LAYOUT
$layoutPadding: 40px;
$layoutBetaa: 146px;

// LAYOUT BREAKPOINTS
$break-mobile: 580px;
$break-small: 620px;
$break-medium: 860px;
$break-narrow: 1024px;
$break-normal: 1300px;
$break-wide: 1500px;

$padded-break-narrow: $break-narrow + $layoutPadding * 2;
$padded-break-normal: $break-normal + $layoutPadding * 2;
$padded-break-wide: $break-wide + $layoutPadding * 2;

$font1: Roboto-Regular, sans-serif;


