/** @format */

.gig-overview {
  margin-block-end: rem(16px);

  @include for-medium-layout {
    margin-block-end: rem(24px);
  }

  .nav-tag {
    display: block;
    margin-block-end: rem(10px);

    ul {
      li {
        display: flex;
        align-items: center;

        .link-category {
          color: $visited-clr;
        }
        .svg-span {
          width: rem(12px);
          height: rem(12px);
          display: inline-flex;
          margin: 0 rem(8px);

          .svg-arrow {
            float: left;
            height: 100%;
            width: 100%;
          }
        }
      }
    }
  }

  h1 {
    overflow-wrap: break-word;
    padding-bottom: rem(14px);
    font-weight: 700;
    color: #404145;
  }

  .seller-overview {
    .seller-container {
      align-items: center;
      margin-block-end: 1rem;
      gap: 10px;
      .seller-photo {
        .img-user {
          margin: 0;
          border-radius: 50%;
          height: rem(30px);
          width: rem(30px);
        }
      }

      .seller-stats {
        align-items: center;
        // padding-bottom: 1em;
        color: $secondary-clr;
        cursor: pointer;
        a {
          color: $secondary-clr-darker;
          padding-bottom: 0.2em;
        }

        span {
         
          padding-bottom: 0.2em;
        }

        .stars {
          color: #ffb33e;
          margin-inline-start: .5em;
          padding-bottom: 0.2em;
          .star {
            color: #ffb33e;
            font-size: 0.8em;
            letter-spacing: 0.4em;
          }
        }
        .num {
          font-size: .8em;
          align-self:center ;
          padding-block-start: .2rem;
          font-weight: 700;
        }
      }
    }
  }
}
