/** @format */

.gig-overview {
  margin-block-end: rem(16px);

  @include for-medium-layout {
    margin-block-end: rem(24px);
  }

  .nav-tag {
    display: block;
    margin-block-end: rem(10px);

    ul {
      margin-block-start: 0;
      li {
        display: flex;
        align-items: center;

        .link-category {
          color: $visited-clr;
        }
        .svg-span {
          width: rem(12px);
          height: rem(12px);
          display: inline-flex;
          margin: 0 rem(8px);

          .svg-arrow {
            float: left;
            height: 100%;
            width: 100%;
          }
        }
      }
    }
  }

  h1 {
    overflow-wrap: break-word;
    padding-bottom: rem(14px);
    font-weight: 700;
    color: #404145;
  }

  .seller-overview {
    .review-carousel-wrapper {
      margin-block-end: 8rem;
      .slide-img-container {
        img {
          background: transparent no-repeat 50%;
          background-color: #efeff0;
          background-size: 80px;
          height: 100%;
          max-height: 100%;
          max-width: 100%;
          min-height: 140px;
          min-width: 140px;
          // -o-object-fit: contain;
          object-fit: contain;
          width: 100%;
        }
      }
      .slide2-img-container {
        background-color: #f5f5f5;
        img {
          object-fit: contain;
          width: 100%;
        }
      }

      .thumbnails {
        
        // padding: 0 1rem;
        margin: auto;
        max-width: 210px;
      }

      .thumbnails .vueperslide {
        box-sizing: border-box;
        border: 1px solid #fff;
        transition: 0.3s ease-in-out;
        opacity: 0.7;
        cursor: pointer;
      }

      .thumbnails .vueperslide--active {
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
        opacity: 1;
        border-color: #00000000;
      }
    }
    .seller-container {
      align-items: start;
      margin-block-end: 1rem;
      gap: 10px;
      .seller-photo {
        .img-user {
          margin: 0;
          border-radius: 50%;
          height: rem(30px);
          width: rem(30px);
        }
      }

      .seller-stats {
        // align-items: center;
        padding-bottom: 0.8em;
        color: $secondary-clr;
        font-size: rem(14px);
        cursor: pointer;
        padding-top: 0.6em;
        a {
          color: $secondary-clr-darker;
          padding-bottom: 0.2em;
        }

        span {
          padding-bottom: 0.2em;
        }

        .stars {
          color: #ffb33e;
          margin-inline-start: 0.5em;
          padding-bottom: 0.2em;
          ul {
            margin: 0;
          }
          .star {
            // padding-block-end: 1em;
            color: #ffb33e;
            font-size: 0.8em;
            letter-spacing: 0.4em;
          }
        }
        .num {
          font-size: 0.8em;
          align-self: center;
          padding-block-start: 0.2rem;
          font-weight: 700;
        }
      }
    }
  }
}
