/** @format */

.gig-overview {
  margin-block-end: rem(16px);

  @include for-medium-layout {
    margin-block-end: rem(24px);
  }

  .nav-tag {
    display: block;
    margin-block-end: rem(10px);

    ul {
      margin-block-start: 0;
      li {
        display: flex;
        align-items: center;

        .link-category {
          color: $visited-clr;
        }
        .svg-span {
          width: rem(12px);
          height: rem(12px);
          display: inline-flex;
          margin: 0 rem(8px);

          .svg-arrow {
            float: left;
            height: 100%;
            width: 100%;
          }
        }
      }
    }
  }

  h1 {
    overflow-wrap: break-word;
    padding-bottom: rem(14px);
    font-weight: 700;
    color: #404145;
  }

  .seller-overview {
    .review-carousel-wrapper {
      .vueperslide__content-wrapper {
        background-color: #f5f5f5;
        .slide-img-container {
          img {
            background: transparent
              url(https://fiverr-res.cloudinary.com/app_assets/fiverr_logo_loader.svg)
              no-repeat 50%;
            background-size: 80px;
            height: 100%;
            max-height: 100%;
            max-width: 100%;
            min-height: 140px;
            min-width: 140px;
            // -o-object-fit: contain;
            object-fit: contain;
            width: 100%;
          }
        }
      }
    }
    .seller-container {
      align-items: center;
      margin-block-end: 1rem;
      gap: 10px;
      .seller-photo {
        .img-user {
          margin: 0;
          border-radius: 50%;
          height: rem(30px);
          width: rem(30px);
        }
      }

      .seller-stats {
        align-items: center;
        // padding-bottom: 1em;
        color: $secondary-clr;
        cursor: pointer;
        a {
          color: $secondary-clr-darker;
          padding-bottom: 0.2em;
        }

        span {
          padding-bottom: 0.2em;
        }

        .stars {
          color: #ffb33e;
          margin-inline-start: 0.5em;
          padding-bottom: 0.2em;
          .star {
            color: #ffb33e;
            font-size: 0.8em;
            letter-spacing: 0.4em;
          }
        }
        .num {
          font-size: 0.8em;
          align-self: center;
          padding-block-start: 0.2rem;
          font-weight: 700;
        }
      }
    }
  }
}
