/** @format */
.review-container {
  // background-color: red;
}
.reviews-list {
  margin-block-end: rem(64px);
  border-top: 1px solid $grey-txt-lighter;

  .reviews-title {
    font-weight: 700;
    font-size: rem(20px);
    line-height: rem(28px);
    margin-block-end: rem(16px);
  }

  .review-item-component {
    padding: rem(40px) 0;

    .review-header-container {
      width: 100%;

      .flex-items-center {
        align-items: center;

        .user-profile-image {
          display: flex;
          // margin-inline-start: rem(16px);
          margin-inline-end: rem(16px);
          // width: 48px;
          // height: 48px;
          // background-color: red;
          label {
            position: relative;
            border-radius: 50%;
            background-color: #e4e5e7;
            width: rem(48px);
            height: rem(48px);
            // font-size: 1em;
          }
          span {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #e4e5e7;
            border-radius: 50%;
            color: #fff;
            font-weight: 700;
            height: 100%;
            text-transform: uppercase;
            width: 100%;
            color: #b5b6ba;
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
          }
        }
      }
      .flex .flex-col {
        flex-direction: column;
        .username {
          font-size: 1em;
          line-height: rem(24px);
          color: $secondary-clr-dark;
        }
        .country {
          display: inline-flex;
          margin-block-start: rem(8px);
          // align-items: last baseline;
          align-items: center;
          &-flag {
            height: 20px;
            margin-top: -3px;
            width: 20px;
          }
          &-name {
            color: #62646a;
            font-size: em(14px);
            padding-left: rem(8px);
          }
        }
      }
    }

    .review-details {
      margin-block-start: rem(20px);
      margin-inline-start: rem(64px);

      .stars {
        padding-block-end: rem(4px);
        display: inline-flex;
        ul {
          align-items: center;
          margin: 0;

          .star {
            font-size: em(14px);
            line-height: rem(21px);

            i {
              float: left;
              height: 100%;
              width: 100%;
              margin-inline-end: 0.25em;
            }
          }

          .num {
            font-family: $font2;
            padding-block-start: 0.1em;
            color: $star-clr;
            margin-inline-start: 0.2em;
          }
          .inline-divider {
            border-right: 1px solid #e4e5e7;
            margin: 2px 8px;
            height: rem(16px);
          }
          .text-body-2 {
            font-size: 14px;
            line-height: 21px;
            color: $grey-txt-dark;
            // letter-spacing: -0.02em;
          }
        
        }
      }
      p {
        color: $secondary-clr-dark;
      }
    }
  }
}
