/** @format */

.gig-page {
  position: relative;

  .side-bar {
    background-color: #fff;
  }

  .main {
    margin-inline-end: 9.15%;
    width: 57.42%;
  }

  .details-layout {
    flex-direction: row-reverse;
    padding: 2rem;
  }
  .img-container {

    .vueperslides {
      height: 100%;
      // max-width: rem(713px);
      width: em(713px);
      // width: 100%;
    
      padding: 0;

      &__parallax-wrapper {
        height: 100%;
        width: 100%;
      }

      .vueperslide:last-of-type {
        padding-left: 3rem;
        padding-right: 3rem;
        max-width: 20%;
        display: flex;
        left: 50%;
      }

      .vueperslides__arrow {
        height: 48px;
        width: 48px;
        // opacity: 1;
        font-size: 1.5em;

        &.vueperslides__arrow--prev {
          transform: translate(-100%, -100%);
          // left: rem(-20px);
        }
        &.vueperslides__arrow--next {
          transform: translate(100%, -100%);
        }
      }
    }

    .review-carousel-wrapper {
      display: block;
      height: 428.6px;
    }
  }

  .gig-description {
    color: $grey-txt-dark;
    position: relative;
    // padding-block-end: rem(20px);
    margin-block-end: rem(64px);
    // border-bottom: 1px solid $grey-txt;
    font: 400 16px/24px Macan, Helvetica Neue, Helvetica, Arial, sans-serif;
    .section-title {
      font-size: 20px;
      line-height: 28px;
      padding-bottom: 25px;
      color: $secondary-clr-dark;
    }
    .headline {
      color: $secondary-clr-dark;
      font-weight: 700;
    }
    p:nth-last-child(2) {
      margin: 0;
    }
    p:last-child {
      margin: 0;
    }
  }

  .metadata {
    flex-flow: row wrap;
    border-top: 1px solid $grey-txt;

    &-attribute {
      box-sizing: border-box;
      padding-right: rem(20px);
      padding-top: rem(20px);
      width: 33%;

      p {
        color: $grey-txt;
      }

      ul {
        color: $secondary-clr-dark;
        margin: 0;
        flex-wrap: wrap;
        padding-bottom: 20px;
      }
    }
  }

  .about-this-seller {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    padding-bottom: 25px;
  }
}

.seller-photo {
  margin-inline-end: 1rem;
}

.img-label {
position: relative;
  width: 110px;
  height: 110px;
  font-size: 2.2em;

  .img-user {
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 1;
  }
}

.seller-stats > * {
  margin-inline-end: 0.5rem;
}
