/** @format */

.gig-review {
  position: relative;
  margin-block-end: 8.3rem;
      // overflow: hidden;
      // white-space: nowrap;
      // text-overflow: ellipsis;
  .vueperslides {
    .vueperslide {
      padding-block-end: 6em;
      // overflow: hidden;
      // white-space: nowrap;
      // text-overflow: ellipsis;

      // width: rem(677px);
      &__content {
        min-height: 0;
        color: white;
      }
    }
    &__arrow--prev {
      left: rem(-18px);
      top: 50%;
      opacity: 1;
    }
    &__arrow--next {
      right: rem(-18px);
      top: 50%;
      opacity: 1;
      // overflow-wrap: br;
    }

    @include for-medium-layout {
      &__arrow--prev {
        left: rem(-18px);
        top: 60%;
        opacity: 1;
      }
      &__arrow--next {
        right: rem(-18px);
        top: 60%;
        opacity: 1;
      }
    }
  }

  header {
    justify-content: space-between;
    width: 100%;

    .section-title {
      font-size: em(20px);
      line-height: rem(28px);
      padding-bottom: rem(25px);
      color: $secondary-clr-dark;
      font-family: "Macan", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: 700;
    }

    .reviews-btn {
      font-size: em(14px);
      padding: 0 0 rem(28px);
      background: transparent;
      color: $primary-clr;
      font-weight: 400;
      border: 1px solid transparent;
      border-radius: 4px;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .carousel-container {
    width: rem(687px);
    height: 120px;
    // overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .review {
    // overflow: hidden;
    // white-space: nowrap;
    // text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* start showing ellipsis when 3rd line is reached */
    white-space: pre-wrap;
    display: flex;
    outline: none;
    width: rem(657px);
    float: left;
    color: $secondary-clr;
    @include for-small-layout {
      padding: 0 rem(9px);
    }
    @include for-medium-layout {
      padding: 0 rem(18px);
    }

    .img-user {
      min-width: 2rem;
      min-height: 2rem;
      width: 2rem;
      height: 2rem;
      border-radius: 10.4375em;
      overflow: hidden;
      margin-block-start: 1rem;
      margin-inline-end: 1rem;

      img {
        // border-radius: 50%;
        // height: 2rem;
        // width: 2rem;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .review-details {
      display: flex;
      flex-direction: column;
    }
    .user-review {
      display: flex;
      align-items: center;
      // height: fit-content;

      h6 {
        font-size: 1em;
        line-height: 140%;
      }

      .country {
        border-right: 1px solid $grey-txt-light;

        padding: 0 0 0 rem(12px);
        display: inline-flex;
        align-items: center;
        padding-inline-end: 0.5rem;

        .country-flag {
          border-radius: 4px;
          height: rem(20px);
          margin-top: rem(-3px);
          width: rem(20px);
          object-fit: cover;
        }

        .country-name {
          padding-inline-start: 0.5rem;
        }
      }
      ul {
        margin-inline-start: 0.5rem;
        li {
          font-size: rem(12px);
          width: 20px;
          color: $star-clr;
        }
        .num {
          color: $star-clr;
          font-size: 0.8em;
          font-weight: 600;
        }
      }
    }
    .review-description {
      font-weight: 500;
      line-height: 120%;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3; /* start showing ellipsis when 3rd line is reached */
      white-space: pre-wrap;

      @include for-normal-layout {
        width: rem(657px);
      }
      @include for-normal-layout {
        width: rem(657px);
      }
    }
  }
}
