/** @format */

div.side-bar {
  // width: 33.6%;
  width: rem(412.95px);
  & .inner-sticky {
    top: rem(86px);
  }
}

aside .package-tabs.triple {
  & input {
    display: none;
  }

  & .nav-container label {
    background-color: $tertiary-clr-dark2;
    border: 1px solid $grey-txt-lighter;
    color: $secondary-clr-light;
    flex: 1 1;
    padding: rem(16px);
    text-align: center;

    &.aria-selected {
      //will be added in vue later
      border-bottom: rem(3px) solid $primary-clr;
      color: $primary-clr;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

div.some-id {
  padding-block-start: rem(32px);
  border: 1px solid $grey-txt-lighter;
  border-top: 0;

  & div.package-content {
    padding-inline: rem(24px);
    & .header-default {
      & h3 {
        justify-content: space-between;
        min-height: rem(45px);
      }
      & p {
        font: 400 16px/24px Macan, Helvetica Neue, Helvetica, Arial, sans-serif;
        color: $grey-txt-dark;
        margin-block-start: rem(10px);
        margin-block-end: 0;
        min-height: rem(63px);
        font-size: em(14px);
        word-break: break-word;
      }
    }
  }

  & div.additional-info {
    .delivery-container {
      display: flex;
      align-items: center;

      .delivery {
        margin-inline-start: rem(8px);
      }
    }
    .revision-wrapper {
      display: flex;
      align-items: center;
      margin-inline-start: rem(16px);

      .revisions {
        margin-inline-start: rem(8px);
      }
    }
  }

  & ul {
    margin-block-end: rem(20px);
    color: $secondary-clr-lighter;
    font-size: em(14px);
    & span {
      //its svg size 16x16
      height: rem(16px);
      width: rem(16px);
      font-size: em(16px);
    }
  }

  .tab-footer {
    justify-content: center;
    padding: rem(20px);

    .btn {
      display: flex;
      width: 100%;
      font-size: 1em;
      color: white;
      background-color: $primary-clr;
      border: 1px solid $primary-clr;
      border-radius: 4px;
      cursor: pointer;
      font-weight: 600;
      line-height: 100%;
      padding: rem(12px) rem(14px);
      position: relative;
      text-decoration: none;
      justify-content: center;

      .continue {
        margin-left: auto;
      }

      .arrow {
        // position: absolute;
        float: right;
        background: none;
        border: none;
        // display: inline-block;
        margin: 0;
        padding: 0;
        justify-self: end;
        margin-left: auto;
        // padding-inline-start: 13rem;
      }

      &:hover {
        background-color: $primary-clr-dark;
        border-color: $primary-clr-dark;
      }
    }
  }
}
